In [2]:
!pip install pandas
!pip install sklearn

Requirement already satisfied: pandas in d:\anaconda\lib\site-packages (1.4.4)
Requirement already satisfied: numpy>=1.18.5 in d:\anaconda\lib\site-packages (from pandas) (1.21.5)
Requirement already satisfied: python-dateutil>=2.8.1 in d:\anaconda\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in d:\anaconda\lib\site-packages (from pandas) (2022.1)
Requirement already satisfied: six>=1.5 in c:\users\sebas\appdata\roaming\python\python39\site-packages (from python-dateutil>=2.8.1->pandas) (1.15.0)
Collecting sklearn
  Downloading sklearn-0.0.post1.tar.gz (3.6 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Building wheels for collected packages: sklearn
  Building wheel for sklearn (setup.py): started
  Building wheel for sklearn (setup.py): finished with status 'done'
  Created wheel for sklearn: filename=sklearn-0.0.post1-py3-none-any.whl size=2936 sha256=9b15bd03cd8882b95feaa1b4f2dbeb408f9a067855edd729eb3bb8370566fd0a
  Stored in directory: c:\users\sebas\appdata\local\pip\cache\wheels\f8\e0\3d\9d0c2020c44a519b9f02ab4fa6d2a4a996c98d79ab2f569fa1
Successfully built sklearn
Installing collected packages: sklearn
Successfully installed sklearn-0.0.post1

In [9]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [4]:
# Laden der Daten aus einer CSV-Datei
data = pd.read_csv('crop_recommendation.csv')
data

        N   P   K  temperature   humidity        ph    rainfall   label
0      90  42  43    20.879744  82.002744  6.502985  202.935536    rice
1      85  58  41    21.770462  80.319644  7.038096  226.655537    rice
2      60  55  44    23.004459  82.320763  7.840207  263.964248    rice
3      74  35  40    26.491096  80.158363  6.980401  242.864034    rice
4      78  42  42    20.130175  81.604873  7.628473  262.717340    rice
...   ...  ..  ..          ...        ...       ...         ...     ...
1692  117  86  48    28.695620  82.541958  6.225225  116.161684  banana
1693  114  94  53    26.335449  76.853201  6.190757  118.685826  banana
1694  110  78  50    25.937302  78.898644  5.915569   98.217475  banana
1695   94  70  48    25.136865  84.883944  6.195152   91.464425  banana
1696   80  71  47    27.505277  80.797840  6.156373  105.077699  banana

[1697 rows x 8 columns]

In [5]:
# Aufteilen der Daten in Features und Labels
X = data.drop('label', axis=1)
y = data['label']

In [10]:
# Teilen der Daten in Trainings- und Testdaten
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [11]:
# Erstellen eines Entscheidungsbaum-Klassifikators
clf = DecisionTreeClassifier()

In [12]:
# Trainieren des Algorithmus auf den Trainingsdaten
clf.fit(X_train, y_train)

DecisionTreeClassifier()

In [13]:
# Vorhersagen mit den Testdaten
y_pred = clf.predict(X_test)

In [14]:
y_pred

array(['beans', 'grapes', 'mango', 'mango', 'cotton', 'banana', 'beans',
       'watermelon', 'rice', 'maize', 'apple', 'rice', 'orange', 'cotton',
       'beans', 'peas', 'maize', 'apple', 'Soyabeans', 'beans', 'orange',
       'rice', 'grapes', 'cowpeas', 'rice', 'orange', 'maize',
       'Soyabeans', 'cotton', 'orange', 'coffee', 'mango', 'peas',
       'maize', 'rice', 'groundnuts', 'watermelon', 'Soyabeans', 'cotton',
       'Soyabeans', 'groundnuts', 'Soyabeans', 'rice', 'cowpeas',
       'orange', 'maize', 'groundnuts', 'orange', 'grapes', 'rice',
       'peas', 'rice', 'cowpeas', 'cotton', 'cotton', 'peas', 'orange',
       'banana', 'groundnuts', 'maize', 'apple', 'rice', 'cowpeas',
       'maize', 'coffee', 'maize', 'peas', 'groundnuts', 'rice',
       'watermelon', 'banana', 'cotton', 'apple', 'cowpeas', 'watermelon',
       'groundnuts', 'grapes', 'apple', 'grapes', 'mango', 'Soyabeans',
       'grapes', 'cowpeas', 'maize', 'orange', 'banana', 'maize', 'peas',
       'banana', 'peas', 'orange', 'banana', 'apple', 'apple',
       'Soyabeans', 'groundnuts', 'watermelon', 'cotton', 'beans',
       'banana', 'watermelon', 'rice', 'Soyabeans', 'groundnuts',
       'cotton', 'cotton', 'coffee', 'maize', 'grapes', 'Soyabeans',
       'beans', 'apple', 'watermelon', 'banana', 'banana', 'peas',
       'maize', 'orange', 'orange', 'beans', 'watermelon', 'rice',
       'beans', 'banana', 'beans', 'orange', 'apple', 'watermelon',
       'rice', 'cotton', 'peas', 'groundnuts', 'mango', 'maize', 'grapes',
       'rice', 'rice', 'Soyabeans', 'rice', 'watermelon', 'peas',
       'watermelon', 'watermelon', 'Soyabeans', 'cotton', 'Soyabeans',
       'cowpeas', 'groundnuts', 'beans', 'groundnuts', 'beans', 'coffee',
       'cowpeas', 'apple', 'rice', 'groundnuts', 'peas', 'banana', 'rice',
       'peas', 'coffee', 'grapes', 'peas', 'rice', 'beans', 'cowpeas',
       'rice', 'Soyabeans', 'peas', 'orange', 'coffee', 'grapes', 'maize',
       'apple', 'Soyabeans', 'cowpeas', 'maize', 'peas', 'banana',
       'grapes', 'rice', 'Soyabeans', 'beans', 'mango', 'cowpeas',
       'cowpeas', 'maize', 'cowpeas', 'banana', 'watermelon', 'cotton',
       'rice', 'apple', 'banana', 'orange', 'mango', 'groundnuts',
       'maize', 'groundnuts', 'coffee', 'cowpeas', 'mango', 'cowpeas',
       'peas', 'rice', 'cowpeas', 'maize', 'watermelon', 'Soyabeans',
       'watermelon', 'maize', 'banana', 'grapes', 'mango', 'groundnuts',
       'cotton', 'coffee', 'coffee', 'rice', 'watermelon', 'banana',
       'orange', 'grapes', 'beans', 'grapes', 'beans', 'beans', 'orange',
       'Soyabeans', 'peas', 'orange', 'beans', 'orange', 'maize',
       'banana', 'Soyabeans', 'orange', 'peas', 'peas', 'mango',
       'groundnuts', 'banana', 'peas', 'cowpeas', 'groundnuts', 'cotton',
       'maize', 'groundnuts', 'mango', 'Soyabeans', 'mango', 'coffee',
       'beans', 'cowpeas', 'orange', 'beans', 'rice', 'cotton', 'peas',
       'groundnuts', 'rice', 'Soyabeans', 'grapes', 'Soyabeans',
       'Soyabeans', 'watermelon', 'orange', 'mango', 'rice', 'banana',
       'grapes', 'banana', 'banana', 'coffee', 'mango', 'orange',
       'orange', 'cowpeas', 'mango', 'beans', 'peas', 'watermelon',
       'groundnuts', 'apple', 'coffee', 'mango', 'maize', 'rice', 'beans',
       'coffee', 'watermelon', 'cotton', 'groundnuts', 'rice', 'rice',
       'coffee', 'beans', 'rice', 'banana', 'coffee', 'peas', 'Soyabeans',
       'beans', 'watermelon', 'peas', 'cowpeas', 'apple', 'maize', 'peas',
       'orange', 'apple', 'cotton', 'cotton', 'grapes', 'rice', 'banana',
       'cotton', 'peas', 'coffee', 'cowpeas', 'maize', 'beans', 'maize',
       'cotton', 'maize', 'apple', 'banana', 'cotton', 'rice',
       'watermelon', 'grapes', 'cowpeas', 'banana', 'cowpeas', 'rice',
       'mango', 'watermelon', 'maize', 'rice', 'orange'], dtype=object)

In [15]:
X_test

        N    P    K  temperature   humidity        ph    rainfall
326    21   63   17    15.773702  19.230316  5.979974  108.344141
948     8  127  196    27.027661  83.170939  5.833302   70.956660
880     1   29   29    27.329614  49.303472  6.052026   93.531974
886    27   21   30    35.391546  52.488231  5.061082   91.228811
1338  111   53   19    23.964360  78.027631  6.419537   84.631489
...   ...  ...  ...          ...        ...       ...         ...
817    26   37   30    35.399863  49.459626  6.166174   97.410540
1057  120   20   45    25.665760  88.698423  6.114129   54.227225
119    74   55   19    18.050337  62.893670  6.288868   84.236135
29     84   51   35    22.301574  80.644165  6.043305  197.979121
1298   40   17   15    21.350934  90.949297  7.871063  107.086209

[340 rows x 7 columns]

In [16]:
# initialize list of lists
testing_data = [[5,31,27,28.33,49.73,5.28,93.54]]

#FlÃ¤che (ha), Wasserverbrauch fÃ¼r label raussuchen und hardcoden (mango = 10l/tag), Berechnung Wasserverbrauch pro Zeiteinheit fÃ¼r diese FlÃ¤che

# Create the pandas DataFrame
test_df = pd.DataFrame(testing_data, columns=['N', 'P', 'K', 'temperature', 'humidity', 'ph', 'rainfall'])

In [17]:
test_df

   N   P   K  temperature  humidity    ph  rainfall
0  5  31  27        28.33     49.73  5.28     93.54

In [18]:
test_predict = clf.predict(test_df)

In [19]:
test_predict

array(['mango'], dtype=object)

In [20]:
accuracy = accuracy_score(y_test, y_pred)
accuracy

0.9911764705882353